/* General */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background-color: #FFFFFF;
  width: auto;
  font-family: Arial;
  font-size: 20px;
}

p {
  font-size: 1.2rem;
  text-align: justify;
}

  p.hsub {
  font-size: 1.7rem;
  font-family: Courier;
  text-align: center;
  }

  p.leyenda {
  font-size: 0.8rem;
  font-style: oblique;
  }


h1 {
  font-size: 4.3rem;
  text-emphasis-style: double-circle;
  margin-bottom: -20px;
}

h2 {
  font-size: 2rem;
  text-decoration: underline;
}

h3 {
  font-size: 1.5rem;
  text-decoration: underline;
}

  h3.prep {
  color: #697C43;
  text-transform: uppercase;
  }

h4 {
  font-size: 1.3rem;
  text-decoration: underline;
}


/* Maquetado */

main {
  position: absolute;
  top: 0;
}

header {
  background: linear-gradient(#9eb66e, #2d361a);
  background-image: url(../imagenes/bg.png);
  background-size: cover;
  padding: 15% 10%;
}

#header-text {
  box-sizing: border-box;
  border-style: double;
  width: 60%;
  height: 40%;
  margin: auto;
  background-color: #ffffff;
  padding: 0.5% 0;
  text-align: center;
}

nav {
  box-sizing: border-box;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 100;
  background-color: #697C43;
}

#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  margin: auto;
  position: relative;
}

  #menu li {
  float: left;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  }

a.bar {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  text-decoration: none;
  position: relative;
  font-size: 18px;
}

  a.bar:hover  {
  background-color: #e74c3c;
  }

section {
  float: left;
  display: block;
  margin-bottom: 15%;
  padding: 3.5%;
  width: 60%;
}

aside {
  float: right;
  display: block;
  padding: 3.5%;
  width: 25%;
}

footer {
  clear: both;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 1.5%;
  background-color: #697C43;
  text-align: center;
}

#redes {
  display: inline-flex;
  list-style: none;
}

  ul.sm {
  box-sizing: border-box;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding: 0 35%;
  margin: 0;
  }

  .sm li {
    height: 100%;
    bottom: 15%;
  }


  a.icons {
  box-sizing: border-box;
  border-radius: 20%;
  padding-block-start: 75%;
  padding-inline: 10%;
  background-color: #94ad61;
  }

  a.icons:hover {
  background-color: #000000;
  }


  img.icon {
  max-height: 50px;
  opacity: 85%;
  }

.whatsapp {
  float: right;
  position: fixed;
  margin-top: 5%;
  right: 15px;
  z-index: 100;
}

  a.whatsapp{
  box-sizing: border-box;
  border-radius: 50%;
  padding: 15px;
  background-color: #000000;

  }

  a.whatsapp:hover {
  background-color: #94ad61;
  }

  img.sticky  {
  height: 30px;
  width: 30px;
  }


/* Listas */

ul {
  font-size: 1.2rem;
  text-align: justify;
  text-align-last: left;
}

ol {
  font-size: 1.2rem;
  text-align: justify;
  text-align-last: left;
}


/* Multimedia */

img {
  width: 100%;
  height: auto;
}

  img.map {
  height: 300px;
  width: auto;
}

.yt {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
