/* GENERAL */


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

@font-face {
  font-family: 'giveny';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../fonts/giveny.otf") format("otf"), url("../fonts/giveny.otf"); 
}


body {
  background-color: #fff;
  margin: 0;
  font-family: Arial;
  font-size: 1.2em;
}

p {
  text-align: justify;
}

  p.leyenda {
    font-size: 0.9rem;
    font-style: oblique;
  }  
  
  
h1 {
  display: flex;
  flex-basis: 30%;
  font-size: 4.5rem;
  font-family: 'Oswald', sans-serif;
  color: #fff;
  text-align: center;
}

h2 {
  font-family: 'giveny', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: underline;
}

h3 {
  font-size: 1.5rem;
  text-decoration: underline;
}

  h3.prep {
  color: #697C43;    
  font-weight: 600;   
  text-transform: uppercase;
  }

h4 {
  font-size: 1.3rem;
  text-transform: uppercase;
  text-decoration: underline;
  }

h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  font-weight: 800;
  text-transform: uppercase;  
  text-align: center;
  color: #353330;
  margin: 3% 0;
}


/* Multimedia */

img {
  width: 100%;
  height: auto;
}

  img.logo_chico  {
    width: 25%;    
  }


.map {
  height: 24vh;
  width: auto;
}

.yt {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* Listas */

ul {
  text-align: justify;
  text-align-last: left;
}

ol {
  text-align: justify;
  text-align-last: left;
}



/* OVERFLOW (texto) */
p, li, h1, h2, h3, h4 { 
  overflow-wrap: break-word;    
}



/* MAQUETADO */

/* Header */

header {
  background: linear-gradient(#e79e3e, #353330);
  background-image: url(../imagenes/bg.png);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 3.5%;
}

.header_logo {
  flex-basis: 30%;
}

.header_logo img {
 width: max-content;
}

#header_sm {
  display: flex;
  flex-basis: 20%;
  justify-content: center;
  align-items: center;
}

  #header_sm li {
    display: inline-block;
    list-style: none;
    padding: 0.5% 3%;
  }

a.icons_hd :hover {
   background-color: #000000;
   
}

img.icon_hd  {
  width: 80%;
  border-radius: 50%;
  background-color: #ac670e;  
  opacity: 85%;
}


/* Navigation */ 

nav {
  display: flex;
  align-content: center;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #ac670e;
}

#menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 100%;
  flex-wrap: wrap;
  text-align: center;
  text-align-last: center;
  height: 20%;
  margin: 0;
  padding: 0.5%;
}

  #menu li {
    flex-basis: 10%;
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    padding: 0.5% 3%;
  }

a.bar {
  font-size: 80%;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

  a.bar:hover  {
    font-weight: 600;
    color: #000000;
  }


#menu_grafico { 
  display: flex;
  justify-content: space-around;
  height: 25%; 
  padding: 0.5;
}

  #menu_grafico li {
    list-style: none;
  }

img.navcons  {
  width: 50%;
  opacity: 70%;
}

button.toogle_dark {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  height: 3%;
  margin: 0 1.5%;
  padding: 0.5%;
  border-radius: 5%;
  font-family: 'Roboto', sans-serif;
  font-size: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 65%; 
}



button.toogle_dark:hover { 
  box-shadow: 0 0.5em 0.5em -0.4em #e79e3e;
  transform: translateY(-0.25em);
  cursor: pointer;
}


button.toogle_dark_grafico {
  width: 75%;
  height: 50%;
  margin: auto 1.5%;
  border-radius: 5%; 
  background-color: #353330;
  border-style: none;
  opacity: 75%; 
}

button.toogle_dark_grafico:hover {
  box-shadow: 0 0.5em 0.5em -0.4em #e79e3e;
  transform: translateY(-0.25em);
  cursor: pointer;
}

img.navcons_dm {
  height: 75%;
  width: 75%;
  padding: 0 0.5%;
  }



/* CONTENT */

#content {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-between;
  padding: 3.5%;
}

section {
  flex-basis: 70%;
  justify-content: center;
  padding: 1.5%;
}

aside { 
  flex-basis: 25%;
  margin-top: 2%;
  font-size: 1rem;
}

.perfil {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;  
  text-align: center;  
  padding: 0 10%;
}

.container {
  margin-bottom: 2.5rem;  
}

.row {
  justify-content: center;
}

.row img {
  border-top-right-radius: 20%;
  border-bottom-left-radius:  20%;
  padding: 0.5rem;
}

.col- {
  box-sizing: border-box; 
  margin: 0.2em;
  padding: 0;
  font-size: 1rem;
  transition:0.5s;
  cursor:pointer;
}

.card {
  background-color: inherit;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}

.card::before, .card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s; 
  content: '';
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
  transform: scale3d(1, 1, 1);
}


/* FOOTER */

footer {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  bottom: 0;
  margin-top: 1.5rem;
  padding: 3.5%;
  background-color: #353330;
  color: #b1aca6;
  text-align: center;
}

.location {
  flex-basis: 30%;
}

/* Contacto común 
.contact {
  flex-basis: 30%;
}

  .contact p, h4 {
    font-size: 1rem;
    text-align: center;
  }

  .contact a {
    color: #ac670e;
    font-size: 1rem; 
    font-weight: 700; 
    text-decoration: none
  }
  */

  button.copyright {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    height: 4%;
    margin: 0 1.5%;
    padding: 1.5%;
    border-radius: 36px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 65%;
  }

  button.copyright:hover {
    border-color: #697C43;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #92a173;
    transform: translateY(-0.25em);
    cursor: pointer;
  }

#footer_sm{
  display: flex;
  flex-basis: 20%;
  justify-content: center;
  align-items: center;
}

  #footer_sm li {
    display: inline-block;
    list-style: none;
    padding: 0.5% 3%;
  }

a.icons_ft :hover {
  background: #000000;
}

img.icon_ft  {
  width: 70%;
  border-radius: 20%;
  background-color: #ac670e;  
  opacity: 85%;
}


.whatsapp {
  position: fixed;
	right: 3%;
	padding: 1%;
	bottom: 1%;
  z-index: 100;
}

  a.whatsapp :hover {
  background-color: #ac670e;
  }

  img.sticky  {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #000000;
  }



/* DARK MODE */
 
.dark {
  color: #e0dbd3;
  background-color: #161514;
}

.dark header {
color: #e0dbd3;
background-color: #161514;
}

.dark h5 {
color: #e0dbd3; 
}

.dark h3.prep {
color: #92a173; 
}

.dark img.sticky {
border-color: #e79e3e;
border-width: 5%;
border-style: solid;
} 

.dark img.logo_chico {
border-color: #697C43;
border-width: 10%;
border-radius: 50%;
border-style: solid;
}



/* MEDIA QUERIES */

@media all and (max-width: 700px) {
  body {
    font-size: 1em;
  }
}

@media all and (max-width: 700px) {
  img {
    width: 90vw;
 }
}

@media all and (max-width: 700px) {
   .map {
    height: 15vh;
    width: auto;
  }
}

@media all and (min-width: 700px) {
.perfil {
 display: none;
  }
}


/* Navigation */

@media all and (max-width: 700px) {
nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index:100;
    background-color: #ac670e;
    box-shadow: 0 0 0.25em 0.25em #96969661;
  } 
}

@media all and (max-width: 700px) {
  #menu {    
    padding: 4% 0;   
  }
}

@media all and (max-width: 570px) {
  #menu {    
    display: none;
  }
}

@media all and (max-width: 570px) {
  button.toogle_dark {    
    display: none;
      }
}


@media all and (min-width: 570px) {
  #menu_grafico {    
    display: none;
      }
}

@media all and (min-width: 570px) {
  button.toogle_dark_grafico {    
    display: none;
      }
}

@media all and (max-width: 700px) {
  a.bar {
    color: #fff;
    font-weight: bold;
  }
}


/* Header */

@media all and (max-width: 700px) {
  header {
    background-color: #fff;
    background-image: none;
    flex-direction: column;
    margin-top: 15vh;
    align-items: center;
    padding: 0;
  }
}

@media all and (max-width: 700px) {
  header h1 {
    color: #ac670e;  
  }  
}

@media all and (max-width: 700px) {
  #header_sm, #footer_sm {
    margin: 3% 15%; 
  } 
}

@media all and (max-width:700px) {
  img.icon_hd {
    width: 60%;
  }
}


/* Content */

@media all and (max-width: 700px) {
  #content {
    flex-direction: column;
    justify-content: space-around;  
    flex-wrap: nowrap; 
    overflow: hidden;
  }
}


@media all and (max-width: 350px) {
  img.sticky  {
    height: 40px;
    width: 40px;
  }
}


/* Footer */

@media all and (max-width: 700px) {
  footer { 
    flex-direction: column;
    padding: 5% 25%;
  }
}

@media all and (max-width:700px) {
  img.icon_ft {
    width: 50%; 
  }
}

@media all and (max-width: 700px) {
  .location {
    width: auto;
}
}

@media all and (max-width: 700px) {
  button.copyright {    
    font-size: 0.7rem;    
  }
}
