h1 {
  font-family: Arial;
  font-size: 200%;
  margin-bottom: -10px;
}

h2 {
  font-family: Arial;
  font-size: 180%;
}

h3 {
  font-family: Arial;
  font-size: 150%;
}

h4 {
  font-family: Arial;
  font-size: 130%;
}

p {
  font-family: Arial;
}

.header {
  overflow: hidden;
  #position: relative;
  background-color:#000000;
  background-image:url("../imagenes/header.jpg");
  background-blend-mode: luminosity;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px;
  text-align: center;
}

.header-text {
  background-color: #000000;
  background-blend-mode: screen;
  padding: 5px;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 200%;
  text-align: center;
  text-shadow: 2px;
}
